/* pseudo-classes que já existiam no style.css */
.tabela-harmonizacao tr:nth-child(even) {
    background-color: #f9f9f9;
}

.link-video a:hover {
    background-color: #4b0f1c;
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* novas pseudo-classes */

nav ul li a:hover {
    background-color: #ac2444;
    padding: 5px 10px;
    border-radius: 5px;
    border-bottom: 2px solid #ffd1dc;
}

input:required,
textarea:required {
    border-left: 4px solid #ac2444;
}

input:invalid,
textarea:invalid {
    border-color: red;
}


body {
    font-family: 'Georgia', serif;
    margin: 0;
    background-color: #f8f5f2;
    color: #2c2c2c;
}

header {
    background-color: #5a0f1c;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #3b0a12;
    margin: 0;
    padding: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
    transform: scale(1.1);
}


section {
    padding: 30px;
    text-align: center;
}

section h1::after {
    content: " 🍷";
    color: #8b0000;
}


section p {
    max-width: 700px;
    margin: 10px auto;
    line-height: 1.6;
}


footer {
    background-color: #5a0f1c;
    color: white;
    text-align: center;
    padding: 15px;
}