   body {
       font-family: Arial, sans-serif;
       margin: 0;
       background-color: #f5f5f5;
   }

   header {
       background-color: #4b0f1c;
       color: white;
       padding: 20px;
       text-align: center;
   }

   nav {
       background-color: #7a1f2b;
   }

   nav ul {
       list-style: none;
       margin: 0;
       padding: 10px;
       display: flex;
       justify-content: center;
   }

   nav ul li {
       margin: 0 15px;
   }

   nav ul li a {
       color: white;
       text-decoration: none;
       font-weight: bold;
   }

   main {
       padding: 20px;
   }

   section {
       margin-bottom: 40px;
       background: white;
       padding: 20px;
       border-radius: 8px;
   }

   h1,
   h2,
   h3 {
       color: #ac2444;
   }

   .banner {
       text-align: center;
   }

   .banner img {
       width: 100%;
       max-height: 300px;
       object-fit: cover;
   }

   .btn {
       background-color: #7a1f2b;
       color: white;
       padding: 10px 20px;
       border: none;
       cursor: pointer;
   }

   table {
       width: 100%;
       border-collapse: collapse;
   }

   table,
   th,
   td {
       border: 1px solid #ccc;
   }

   th,
   td {
       padding: 10px;
       text-align: center;
   }

   form {
       display: flex;
       flex-direction: column;
   }

   form input,
   form textarea {
       margin-bottom: 10px;
       padding: 8px;
   }

   footer {
       background-color: #4b0f1c;
       color: white;
       text-align: center;
       padding: 15px;
   }  
   .harmonizacao,
.explicacao,
.video-harmonizacao {
    padding: 30px;
    background: white;
    margin: 30px;
    border-radius: 10px;
}

.tabela-harmonizacao {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabela-harmonizacao th {
    background-color: #7a1f2b;
    color: white;
    padding: 15px;
}

.tabela-harmonizacao td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
}

.tabela-harmonizacao tr:nth-child(even) {
    background-color: #f9f9f9;
}

.explicacao p {
    line-height: 1.8;
    color: #333;
    margin-bottom: 15px;
}

.video-box {
    border: 4px solid #7a1f2b;
    border-radius: 12px;
    padding: 15px;
    background-color: #fdf7f8;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.link-video {
    margin-top: 15px;
    text-align: center;
}

.link-video a {
    display: inline-block;
    background-color: #7a1f2b;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.link-video a:hover {
    background-color: #4b0f1c;
}

.dica-container {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.texto-dica {
    flex: 1;
}

.imagem-dica {
    flex: 1;
}

.imagem-dica img {
    width: 100%;
    border-radius: 12px;
    border: 4px solid #7a1f2b;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.catalogo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}

.produto {
    width: 250px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    position: relative;
    transition: 0.3s;
      border: 1px solid rgba(0,0,0,0.1);
}

.produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.produto img {
    width: 50;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
}

.preco-antigo {
    text-decoration: line-through;
    color: gray;
    display: block;
}

.preco {
    font-size: 20px;
    font-weight: bold;
    color: #7a1f2b;
}

.desconto {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    }
    